---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import Comments from '../../components/Comments.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);

// Leer la variable de entorno
const {ENABLE_DISQUS_COMMENTS} = import.meta.env;
---

<BlogPost {...post.data}>
	<Content />
	{ENABLE_DISQUS_COMMENTS && (
		<div class="comments-section" style="margin-top: 2em;">
			<Comments
				url={Astro.url.href}
				id={post.id}
				title={post.data.title}
			/>
		</div>
	)}
</BlogPost>
